body {
  font-family: sans-serif;
}

#header-img {
  width: 300px;
  height: auto;
  padding: 14px 16px;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  right: 32px;
  width: 50%;
}

.nav-bar li {
  float: right;
  padding: 28px 32px;   
}

.nav-bar li a  {
  color: black;
  text-align: center;
  text-decoration: none;
}

#EmailSignUp {
    display: flex;
    ;
    text-align: center;
}

#email {
    display: block;
}