* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 0 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-img {
  width: 20vw;
  height: auto;
}

#nav-bar ul {
  list-style-type: none;
  display: flex;
}

#nav-bar li {
  padding: 28px 50px;
}

#nav-bar li a {
  color: black;
  text-align: center;
  text-decoration: none;
}

#EmailSignUp {
  display: flex;
  text-align: center;
}

#email {
  display: block;
}
