* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #eee;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-img {
  width: 20vw;
  height: auto;
}

#nav-bar ul {
  list-style-type: none;
  display: flex;
}

#nav-bar li {
  padding: 28px 50px;
}

#nav-bar li a {
  color: black;
  text-align: center;
  text-decoration: none;
}

h2 {
  margin-bottom: 5px;
}

#EmailSignUp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 90px;
}

#email {
  display: block;
  width: 300px;
  height: 30px;
  margin: 15px;
  border: 2px solid black;
}

.button {
  background-color: #f1c40f;
  border: 0;
  font-weight: 900;
  font-size: 1em;
  padding: 10px;
  cursor: pointer;
}
